// Place all the styles related to the admin/dams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.one-dam{
	margin: 10px;
	border: solid 3px #00CC00;
    border-radius: 10px;
	width:23%;
	height:400px;
	float: left;
	text-align:center;

}